@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#general {
    display: flex;
    margin: 0;
}
form{
    margin: auto;
}
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 10vh;
    color: #FFF ;
}
label{
    font-family:  'Josefin Sans';
    color: #000 ;
    margin-top: 10px !important;
}
#emailHelp{
    font-family: 'Josefin Sans';
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000 !important;
    text-align: center;
}

input{
    width: 450px !important;
    outline: none !important;
    border: none !important;
    background-color: #e3979b !important;
}
input:hover{
    border-radius: 20px;
}
.btn{
    display: flex !important;
    margin: auto !important;
    margin-top: 50px !important;
    padding: 10px 90px !important;
    margin-bottom: 105px !important;
    background-color: #e3979b !important;
    outline: none !important;
    border: none !important;
}
.btn:hover{
    border-radius: 20px;
}



#show{
    color: #000;
    font: 300 16px 'Josefin Sans';
}

i{
    position: relative;
    left: 94%;
    top: -40px;
    color: #000;
}
.form-group{
    margin: 0 !important;
    height: 110px !important;
}